.box1{
    background: blue;
    width: 100px;
    height: 100px;
    float: left;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
span{
    display: none;
}
.box1:hover span{
    display: block;
}
.box2{
    background: red;
    width: 200px;
    height: 200px;
    float: left;
}
.box2:hover{
    background: black;
}
.list-box{
    background: green;
    /* overflow: auto; */
}
.clear-both{
    clear: both;
}